<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>
    <!-- MORRIS CHART STYLES-->

    <!-- CUSTOM STYLES-->
    <link th:href="@{/assets/css/custom.css}" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Binary admin</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img th:src="@{/assets/img/find_user.png}" class="user-image img-responsive"/>
                </li>
                <li>
                    <a th:href="@{/hacom/chart}"><i class="fa fa-bar-chart-o fa-3x"></i> Biểu đồ</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-3x"></i> Chi tiết các bảng<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Kết quả batch 1</a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a th:href="@{/hacom/batch1/result?type=3}">Tất cả</a>
                                </li>
                                <li>
                                    <a th:href="@{/hacom/batch1/result?type=1}">Hacom</a>
                                </li>
                                <li>
                                    <a th:href="@{/hacom/batch1/result?type=2}">Nguyen Cong PC</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Kết quả batch 2</a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a th:href="@{/hacom/batch2/result?type=3}">Tất cả</a>
                                </li>
                                <li>
                                    <a th:href="@{/hacom/batch2/result?type=1}">Hacom</a>
                                </li>
                                <li>
                                    <a th:href="@{/hacom/batch2/result?type=2}">Nguyen Cong PC</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Kết quả batch 3<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a th:href="@{/hacom/batch3/result?type=3}">Tất cả</a>
                                </li>
                                <li>
                                    <a th:href="@{/hacom/batch3/result?type=1}">Hacom</a>
                                </li>
                                <li>
                                    <a th:href="@{/hacom/batch3/result?type=2}">Nguyen Cong PC</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/hacom/data_input_filter}"><i class="fa fa-table fa-3x"></i> Filter data input</a>
                </li>
                <li>
                    <a th:href="@{/hacom/batch2/crawl-url}"><i class="fa fa-table fa-3x"></i> Urls crawl batch 2</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>Filter</h2>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <div role="form">
                        <div class="form-group col-md-6">
                            <label>Trang</label>
                            <select class="form-control" id="robotSelection">
                                <option value="HACOM">Hacom</option>
                                <option value="NCPC">Nguyen Cong PC</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Batch</label>
                            <select class="form-control" id="batchSelection">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">
                <div class="col-md-12" id="filterByBatchAndRobot"></div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Danh sách kết quả
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" id="tableResponsive">
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- METISMENU SCRIPTS -->
<script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
        loadFilterByBatchAndRobot();
        getFilterResult();
    });
    function loadFilterByBatchAndRobot() {
        let search = {"robot": $("#robotSelection").val(), batch: $("#batchSelection").val()};
        $.ajax({
            type: "POST",
            contentType : "application/json",
            url: "/hacom/get_execution_ids",
            data: JSON.stringify(search),
            dataType : 'json'
        }).done(function (data) {
            console.log(data);
            let str = "";
            if (data.length > 0) {
                str += "<label class='col-sm-12'>Execution id</label><div class='col-sm-8'><select class='form-control' id='executionIdsSelection'>";
                for(let i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                }
                str += "</select></div><div class='col-sm-4'>" +
                    "<button class='btn btn-primary' id='checkboxSubmit' onclick='getFilterResult()'>Lọc kết quả</button>";
                if (search.batch == 1 || search.batch == 2) {
                    str += "<button class='btn btn-primary' style='margin-left: 1rem' id='checkboxInsert' " +
                        "onclick='inputFilterData()'>Input data</button>";
                }
                str += "</div>";
            }
            $("#filterByBatchAndRobot").html(str);
        }).fail(function( jqXHR, textStatus ) {
            console.log( "Request failed: " + textStatus );
        });
    }
    $("#robotSelection").change(function () {
        loadFilterByBatchAndRobot();
    });
    $("#batchSelection").change(function () {
        loadFilterByBatchAndRobot();
    });
    function getFilterResult() {
        let search = {"robot": $("#robotSelection").val(), batch: $("#batchSelection").val(),
            executionId: $("#executionIdsSelection").val()};
        console.log(search);
        $.ajax({
            type: "POST",
            contentType : "application/json",
            url: "/hacom/get_filter_batch_results",
            data: JSON.stringify(search),
            dataType : 'json'
        }).done(function (data) {
            console.log(data);
            let str = "";
            if (data.length > 0) {
                switch (search.batch) {
                    case "1":
                        str += "<table class='table table-striped table-bordered table-hover' id='dataTables-example'> " +
                            "<thead><tr><th>Execution_ID</th><th>Robot_ID</th><th>Category_Name</th><th>Url</th>" +
                            "<th>Add_Date</th><th>Update_Date</th></tr></thead><tbody>";
                        for(let i = 0; i < data.length; i++) {
                            str += "<tr class='odd gradeX'><td>" + data[i].execution_id + "</td><td>" + data[i].robot_id +
                                "</td><td>" + data[i].category_name + "</td><td>" + data[i].url + "</td>" +
                                "<td>" + data[i].add_date + "</td><td>" + data[i].upd_date + "</td></tr>";
                        }
                        str += "</tbody></table>";
                        break;
                    case "2":
                        str += "<table class='table table-striped table-bordered table-hover' id='dataTables-example'> " +
                            "<thead><tr><th>ID</th><th>Execution_ID</th><th>Robot_ID</th><th>Product_Key</th>" +
                            "<th>Product_Name</th><th>Url</th></tr></thead><tbody>";
                        for(let i = 0; i < data.length; i++) {
                            str += "<tr class='odd gradeX'><td>" + data[i].id + "</td><td>" + data[i].execution_id +
                                "</td><td>" + data[i].robot_id + "</td><td>" + data[i].product_key + "</td><td>" +
                                data[i].product_name + "</td><td>" + data[i].url + "</td></tr>";
                        }
                        str += "</tbody></table>";
                        break;
                    case "3":
                        str += "<table class='table table-striped table-bordered table-hover' id='dataTables-example'> " +
                            "<thead><tr><th>Execution_ID</th><th>Robot_ID</th><th>Product_Key</th><th>Product_Name</th>" +
                            "<th>Category1</th><th>Category2</th><th>Category3</th><th>Url</th></tr></thead><tbody>";
                        for(let i = 0; i < data.length; i++) {
                            str += "<tr class='odd gradeX'><td>" + data[i].executionId + "</td><td>" + data[i].robot_id +
                                "</td><td>" + data[i].productKey + "</td><td>" + data[i].product_name + "</td><td>" +
                                data[i].categoryName1 + "</td><td>" + data[i].categoryName2 + "</td><td>" +
                                data[i].categoryName3 + "</td><td>" + data[i].url + "</td></tr>";
                        }
                        str = str.replaceAll(">null</td>", "></td>");
                        str += "</tbody></table>";
                        break;
                }
            }
            $("#tableResponsive").html(str);
            $('#dataTables-example').dataTable();
        }).fail(function( jqXHR, textStatus ) {
            console.log( "Request failed: " + textStatus );
        });
    }
    function inputFilterData() {
        let batch = parseInt($("#batchSelection").val());
        let search = {"robot_id": $("#robotSelection").val(),
            "execution_id": $("#executionIdsSelection").val()};
        if (batch === 1) {
            $.ajax({
                type: "POST",
                contentType : "application/json",
                url: "/hacom/filter/sql-batch2/checkbox",
                data: JSON.stringify(search),
                dataType : 'json',
                success: function () {
                    console.log("a");
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText);
                }
            });
            alert("success batch 2 crawl url");
        } else if (batch === 2) {
            search.robot_id += "02";
            $.ajax({
                type: "POST",
                contentType : "application/json",
                url: "/hacom/filter/sql-batch3/checkbox",
                data: JSON.stringify(search),
                dataType : 'json',
                success: function () {
                    console.log("a");
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText);
                }
            });
            alert("success batch 3 crawl list");
        }
    }
</script>
<!-- CUSTOM SCRIPTS -->
<!--<script th:src="@{/assets/js/custom.js}"></script>-->
<script th:src="@{/assets/js/ExportFile.js}"></script>

</body>
</html>
